#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.whale #menu {
    position: fixed;
    right: 30px;
    top: 50%;
    width: 10px;
    margin-top: -50px;
    padding: 0;
    list-style-type: none;
    z-index: 70;
  }
  .whale #menu li {
    width:10px;
    height:10px;
    float:left;
    margin-top:10px;
  }
  .whale #menu li a {
    display:block;
    float:left;
    width:10px;
    height:10px;
    text-indent:-100px;
    overflow:hidden;
    border-radius:5px;
    background:#999;
  }
  .whale #menu li.active a {
    background:#333
  }
  .whale .header{
    position: fixed;
    top: 0;
    height: 70px;
    line-height: 70px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(181,181,181,0.40);
    z-index: 100;
  }
  .whale .header,.header-right{
    display:-moz-box;
    -moz-box-orient:horizontal;
    display:-webkit-box;
    -webkit-box-orient:horizontal;
    display: flex;
    display: -webkit-flex;
  }
  .whale #home_page{
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #757575;
    letter-spacing: 0;
    margin-right: 100px;
    text-decoration: none;
    /* border-bottom:3px solid #38D0DA;
    color:#38D0DA;
    padding-bottom:10px; */
  }
  .whale #about_us{
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #757575;
    letter-spacing: 0;
    margin-right: 100px;
    text-decoration: none;
  }
  .whale #orign{
    font-family: PingFangSC-Regular;
    font-size: 26px;
    color: #757575;
    letter-spacing: 0;
    margin-right: 100px;
    text-decoration:none;
  }
  .whale #QR_code{
    margin-top: 6px;
    position: absolute;
    right: 0px;
    margin-right: 300px;
    z-index: 100;
  }
  .whale .wechat-logo{
    height: 15px;
    position: absolute;
    left: 0px;
    margin-left: 87px;
    margin-top: 28px;
  }
  .whale .wechat-icon{
    width: 16px;
    height: 15px;
  }
  .whale .wechat-QRcode{
    padding-top: 33px;
    padding-left: 41px;
  }
  .whale .wechat-QRcode-know{
    padding-top: 24px;
    color: #757575;
    font-size: 10px;
    margin-left: 125px;
  }
  .whale .wechat-QRcode-text{
    text-align: center;
    margin-top: -41px;
    color: #757575;
    font-size: 10px;
  }
  .whale .arrow {
    position: absolute;
    right: 0px;
    margin-right: 138px;
    margin-top: 79px;
    width: 321px;
    height: 319px;
    background: #fff;
    border: 1px solid #eee;
    box-shadow: 1px 1px 1px #eee;
    display: none;
  }
  .whale .arrow::after {
    position: absolute;
    display: inline-block;
    top: -14px;
    left: 140px;
    width: 0;
    height: 0px;
    content: '';
    border-style: solid;
    border-width: 15px;
    border-color: #fff #fff transparent transparent;
    transform: rotate(-45deg);
    box-shadow: 2px -2px 2px #eee;
  }
  .whale .header-right{
    position: absolute;
    right: 0px;
    margin-right: 624px;
  }
  .whale .content-mess{
    width: 400px;
    position: absolute;
    left: 0px;
    margin-left: 292px;
    margin-top: -200px;
  }
  .whale .content-mess-text{
    margin-left: 13px;
  }
  .whale .content-mess-text span:nth-of-type(1){
    font-family: PingFangSC-Medium;
    font-size: 40px;
    color: #212121;
    letter-spacing: 0;
  }
  .whale .content-mess-text span:nth-of-type(2){
    font-family: PingFangSC-Regular;
    font-size: 28px;
    color: #0F0F0F;
    letter-spacing: 0;
    line-height: 67px;
  }
  .whale .wechat-iphone{
    position: absolute;
    right: 0px;
    margin-right: 22%;
    height: 73.8%;
    margin-top: -8%;
    z-index: 90;
  }
  .whale .wave{
    position: absolute;
    bottom: 0px;
    width: 100%;
  }
  ::selection{
    background-color: salmon;
    color: white;
  }
  .whale .parallax use {
    animation:move-forever 12s linear infinite;
  }
  .parallax use:nth-child(1){
    animation-delay:-2s;
    animation-duration:3s;
    opacity:0.6
  }
  .parallax use:nth-child(2){
    animation-delay:-2s;
    animation-duration:2s;
    opacity:0.8
  }
  .parallax use:nth-child(3){
    animation-delay:-1s;
    animation-duration:3s;
    opacity:0.8
  }
  .parallax use:nth-child(4){
    animation-delay:-1s;
    animation-duration:1s;
    opacity:0.0
  }

  @keyframes move-forever{
  0%{transform: translate(-90px , 0%)}
  100%{transform: translate(85px , 0%)}
  }

  .whale .editorial {
  display: block;
  width: 100%;
  height: 10em;
  max-height: 100vh;
  margin: 0;
  }
  /********wave start********/

  .whale .content {

  font-family: 'Lato',sans-serif;
  text-align: center;  background-color: #2d55aa;
  text-align: center;
  min-height: 75vh;
  margin: -.1em 0 0 0;
  padding: 1em;
  color: #eee;
  font-size: 2em;
  font-weight: 300;
  }
  .whale .content{font-size: 1em;}

  .whale  .content h1 {
  margin-top:-1.3em;
  font-weight: 100;
  font-size: 5em;
  user-select:none;
  cursor: default;
  }

  /*prevent many large-by-comparison ripples by shrinking the height*/
  @media (max-width:50em){
  .content h1{font-size: 12vmax}
  .editorial{height:17vw;}
  }

  /********end********/

  .whale .aboutUs-one{
    width: 60%;
    margin-left: 20%;
    margin-top: 2.6%;
  }
  .whale .aboutUs-two{
    width: 60%;
    margin-left: 20%;
  }
  .whale .section-content{
    text-align: center;
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #212121;
  }
  .whale .about-content{
    width: 40%;
    margin-left: 30%;
    margin-top: 1.4%;
  }
  .whale .about-content span:nth-of-type(1){
    ont-family: PingFangSC-Regular;
    font-size: 18px;
    color: #212121;
    line-height: 30px;
  }
  .whale .about-content span:nth-of-type(2){
    font-family: PingFangSC-Light;
    font-size: 12px;
    color: #0F0F0F;
    line-height: 30px;
  }
  .whale .footer{
    height: 80px;
    line-height: 80px;
    background: #212121;
    position: absolute;
    bottom: 0px;
    width: 100%;
  }
  .whale .footer div{
    text-align: center;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
  }
  .whale .footer div a{
    text-decoration: none;
    color: #FFFFFF;
  }
